.navbar {
  background-color: aquamarine;
}
h1 {
  text-align: center;
  padding: 1%;
  text-shadow: 2px 2px 5px grey;
}
h2 {
  text-align: center;
  padding: 0.375rem;
  text-shadow: 2px 2px 5px grey;
}
.btn-primary {
  background-color: rgb(0, 127, 150);
}
.carousel-item img {
  width: 100%;
}
